:root {
    --default-text-color: #fff;
    --logo-color: rgb(253, 206, 35);
    --card-color: rgb(18, 21, 21);
    --default-heart-color: rgb(207, 194, 194);
    --heart-red-color: #ec0638;
    --delete-button-color: #eb6582;
  }
  
  body{
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,rgb(221, 94, 94),rgb(233, 233, 71));
    
  }
  
  
  .navbar-brand img {
      border-radius: 10px;
  }
  
  .goback{
    position: relative;
    top: -2px;
  }
  
  #favorites-section {
      display: flex;
      justify-content: space-around ;
      width: 100%;
      height: 100vh;
      margin: 2px 2px 2px 2px;
      flex-direction: row;
      /* z-index: 1; */
      flex-wrap: wrap;
      transition: background-color 0.3s ease;
    }
    
    .animate__animated:hover{
      background-color: rgb(224, 207, 52);
    }
    
    .fav-characters-container {
     position: relative;
     right: 10px;
     top: 10px;
      width: 90%;
     height: 200px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }
    
    .fav-character-image img{
      width: 250px;
      height: 200px;
    }
  
    
    .fav-character-details {
      text-decoration: none;
      color: black;
    }
    
    .fav-character-details:hover {
      color: blue;
      text-decoration: underline;
    }
    
    .delete-btn {
      cursor: pointer;
      position: relative;
      top: 20px;
      height: 180px;
      width:50px;
  
    }
    
    .fa-trash-can {
      color: black;
      font-size: 1.3rem;
    }
    
    .fa-trash-can:hover {
      color: var(--heart-red-color);
    }
    
  